Repository thdang1009/ghost-blogs-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write

fix: post content is not showing
  src/app/app.config.ts
  src/app/app.module.ts
  src/app/pages/blogs/blog.module.ts
Due: npx eslint --fix, npx prettier --write

fix: fix crash SSR when direct url
  src/app/app.module.ts
  src/app/pages/blogs/post/post-detail/post-detail.component.ts
  src/app/services/post-analytics/post-analytics.service.ts
Due: npx eslint --fix, npx prettier --write

fix: change to imange prevent recursive load
  src/app/pages/blogs/analytics/post-analytics.component.ts
  src/app/pages/me/about-me/about-me.component.html
  src/app/pages/me/about-me/about-me.component.ts
  src/assets/img/image.png
Due: npx eslint --fix, npx prettier --write

fix: handle SafePipe
  src/app/pages/me/about-me/about-me.component.html
  src/app/pipes/safe-resource.pipe.ts
Due: npx eslint --fix, npx prettier --write

breaking change
  .gitignore
  angular.json
  package.json
  scripts/generate-prerender-routes.mjs
  server.ts
  src/app/app.config.ts
  src/app/layouts/guest-layout/guest-layout.routing.ts
  src/app/pages/blogs/post/post-detail/post-detail.component.ts
  src/app/pages/blogs/post/post-detail/post.resolver.ts
Due: npx eslint --fix, npx prettier --write

fix(ssr): inject post meta tags server-side for share previews
  server.ts
  src/index.html
Due: npx eslint --fix, npx prettier --write

refactor(seo): consolidate blog meta tag handling in SeoService
  src/app/layouts/guest-layout/guest-layout.routing.ts
  src/app/pages/blogs/post/post-detail/post-detail.component.ts
  src/app/pages/blogs/post/post-detail/post.resolver.ts
  src/app/services/_index.ts
  src/app/services/seo/seo.service.ts
Due: npx eslint --fix, npx prettier --write

chore: drop speculative SSR providers and dedupe blogs route
  src/app/app.config.ts
  src/app/pages/blogs/blog-routing.module.ts
  src/app/services/api-config/api-config.service.spec.ts
  src/app/services/api-config/api-config.service.ts
Due: npx eslint --fix, npx prettier --write

chore(home): remove badge and slice tags
  src/app/pages/home/home.component.html
Due: npx prettier --write

ref(about-me): small refactor to minimalist style
  src/app/pages/me/about-me/about-me.component.html
  src/app/pages/me/about-me/about-me.component.scss
  src/app/pages/me/about-me/about-me.component.ts
Due: npx eslint --fix, npx prettier --write

chore(contact-form): change minor contact form
  src/app/pages/me/about-me/about-me.component.html
  src/app/pages/me/about-me/about-me.component.scss
  src/app/pages/me/about-me/about-me.component.ts
Due: npx eslint --fix, npx prettier --write

fix(contact-form): fix css overflow issue
  src/app/pages/me/about-me/about-me.component.html
Due: npx prettier --write

chore(about-me): minor content changed
  src/app/pages/me/about-me/about-me.component.scss
  src/app/pages/me/about-me/about-me.component.ts
Due: npx eslint --fix, npx prettier --write

chore(about-me): change to better screenshot
  src/app/pages/me/about-me/about-me.component.html
  src/app/pages/me/about-me/about-me.component.scss
  src/assets/img/dangtrinh.site-mobile.png
  src/assets/img/image.png
Due: npx prettier --write

ci(deploy): to new lightsail
  .github/workflows/deploy.yaml
Due: none

ci: safer CI
  .github/workflows/deploy.yaml
Due: none

ci fix
  .github/workflows/deploy.yaml
  package.json
Due: none

ci fix
  .github/workflows/deploy.yaml
Due: none

fix(system): remove restart from frontend
  src/app/pages/dashboard/dashboard.component.html
  src/app/pages/dashboard/dashboard.component.ts
  src/app/services/system/system.service.ts
Due: npx eslint --fix, npx prettier --write

feat(learning-roadmap): frontend MVP — dashboard, tick items, paste import
  src/app/components/sidebar/sidebar.component.ts
  src/app/models/_index.ts
  src/app/models/learning-roadmap.ts
  src/app/pages/tool/learning-roadmap/learning-roadmap.component.html
  src/app/pages/tool/learning-roadmap/learning-roadmap.component.scss
  src/app/pages/tool/learning-roadmap/learning-roadmap.component.spec.ts
  src/app/pages/tool/learning-roadmap/learning-roadmap.component.ts
  src/app/pages/tool/tool-routing.module.ts
  src/app/pages/tool/tool.module.ts
  src/app/services/_index.ts
  src/app/services/auth/auth.service.spec.ts
  src/app/services/learning-roadmap/learning-roadmap.service.spec.ts
  src/app/services/learning-roadmap/learning-roadmap.service.ts
Due: npx eslint --fix, npx prettier --write

feat(learning-roadmap): "Viết bài" — create a daily-* blog draft from an item
  src/app/models/learning-roadmap.ts
  src/app/pages/tool/learning-roadmap/learning-roadmap.component.html
  src/app/pages/tool/learning-roadmap/learning-roadmap.component.scss
  src/app/pages/tool/learning-roadmap/learning-roadmap.component.spec.ts
  src/app/pages/tool/learning-roadmap/learning-roadmap.component.ts
  src/app/services/learning-roadmap/learning-roadmap.service.spec.ts
  src/app/services/learning-roadmap/learning-roadmap.service.ts
Due: npx eslint --fix, npx prettier --write

feat(learning-roadmap): week card — log sessions, show floor and streak
  src/app/models/learning-roadmap.ts
  src/app/pages/tool/learning-roadmap/learning-roadmap.component.html
  src/app/pages/tool/learning-roadmap/learning-roadmap.component.scss
  src/app/pages/tool/learning-roadmap/learning-roadmap.component.spec.ts
  src/app/pages/tool/learning-roadmap/learning-roadmap.component.ts
  src/app/services/learning-roadmap/learning-roadmap.service.spec.ts
  src/app/services/learning-roadmap/learning-roadmap.service.ts
Due: npx eslint --fix, npx prettier --write

feat(todo-today): slice 6 — mobile-first board, Focus Bar, weight UI
  src/app/models/_index.ts
  src/app/models/todo-board.ts
  src/app/models/todo-today.ts
  src/app/pages/tool/todo-today/todo-focus-bar/todo-focus-bar.component.html
  src/app/pages/tool/todo-today/todo-focus-bar/todo-focus-bar.component.scss
  src/app/pages/tool/todo-today/todo-focus-bar/todo-focus-bar.component.ts
  src/app/pages/tool/todo-today/todo-item-row/todo-item-row.component.html
  src/app/pages/tool/todo-today/todo-item-row/todo-item-row.component.scss
  src/app/pages/tool/todo-today/todo-item-row/todo-item-row.component.ts
  src/app/pages/tool/todo-today/todo-list/todo-list.component.html
  src/app/pages/tool/todo-today/todo-list/todo-list.component.scss
  src/app/pages/tool/todo-today/todo-list/todo-list.component.ts
  src/app/pages/tool/todo-today/todo-settings-sheet/todo-settings-sheet.component.html
  src/app/pages/tool/todo-today/todo-settings-sheet/todo-settings-sheet.component.scss
  src/app/pages/tool/todo-today/todo-settings-sheet/todo-settings-sheet.component.ts
  src/app/pages/tool/todo-today/todo-today.component.html
  src/app/pages/tool/todo-today/todo-today.component.scss
  src/app/pages/tool/todo-today/todo-today.component.ts
  src/app/pages/tool/todo-today/todo-weight.util.spec.ts
  src/app/pages/tool/todo-today/todo-weight.util.ts
  src/app/pages/tool/tool.module.ts
  src/app/services/todo-today/todo-today.service.spec.ts
  src/app/services/todo-today/todo-today.service.ts
  src/app/services/user-settings/user-settings.service.ts
  src/app/shared/enum.ts
Due: npx eslint --fix, npx prettier --write

feat(todo-today): slice 7 + 9/10 UI — triage sheet, repeat editor, reading list
  src/app/components/sidebar/sidebar.component.ts
  src/app/models/_index.ts
  src/app/models/alert.spec.ts
  src/app/models/alert.ts
  src/app/models/category.ts
  src/app/models/guest-message.spec.ts
  src/app/models/reading-book.ts
  src/app/models/tag.ts
  src/app/models/todo-board.ts
  src/app/models/todo-label.spec.ts
  src/app/models/todo-recurrence.ts
  src/app/pages/tool/reading-list/reading-list.component.html
  src/app/pages/tool/reading-list/reading-list.component.scss
  src/app/pages/tool/reading-list/reading-list.component.ts
  src/app/pages/tool/todo-today/todo-recurrence-dialog/todo-recurrence-dialog.component.html
  src/app/pages/tool/todo-today/todo-recurrence-dialog/todo-recurrence-dialog.component.scss
  src/app/pages/tool/todo-today/todo-recurrence-dialog/todo-recurrence-dialog.component.ts
  src/app/pages/tool/todo-today/todo-today.component.html
  src/app/pages/tool/todo-today/todo-today.component.scss
  src/app/pages/tool/todo-today/todo-today.component.ts
  src/app/pages/tool/todo-today/todo-triage-sheet/todo-triage-sheet.component.html
  src/app/pages/tool/todo-today/todo-triage-sheet/todo-triage-sheet.component.scss
  src/app/pages/tool/todo-today/todo-triage-sheet/todo-triage-sheet.component.ts
  src/app/pages/tool/tool-routing.module.ts
  src/app/pages/tool/tool.module.ts
  src/app/services/_index.ts
  src/app/services/reading-book/reading-book.service.ts
  src/app/services/todo-recurrence/todo-recurrence.service.ts
  src/app/services/todo-today/todo-today.service.ts
Due: npx eslint --fix, npx prettier --write

fix(todo-today): blank screen — the whole card was inside a false *ngIf
  src/app/pages/tool/todo-today/todo-today.component.html
  src/app/pages/tool/todo-today/todo-today.component.spec.ts
Due: npx eslint --fix, npx prettier --write

fix(reading-list): books never appeared until you clicked something
  src/app/pages/tool/reading-list/reading-list.component.spec.ts
  src/app/pages/tool/reading-list/reading-list.component.ts
Due: npx eslint --fix, npx prettier --write

feat(todo-today): backlog panel — see it and pull items back onto a day
  src/app/pages/tool/todo-today/todo-today.component.html
  src/app/pages/tool/todo-today/todo-today.component.scss
  src/app/pages/tool/todo-today/todo-today.component.ts
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{ts,js}
  npx prettier --write: ((any of: *.{ts,js}) or (any of: *.html)) or (any of: *.{scss,css})
